:root {
    --color-bg: #282830;
    --color-fg: #8ad1cf;
    --color-link: #ffffff;
    --color-link-visited: #ffffff;
    --color-link-hover: #8ad1cf ;
}

html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "Inconsolata", monospace;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 460px 600px 1fr;
  grid-template-areas:
    ". left right .";
  column-gap: 60px;
  justify-items: left;
  align-items: center;
  min-height: 100%;
}

.left {
  grid-area: left;
  aspect-ratio: 1/1;
}

.right {
  grid-area: right;
  height: 40%;
  width: 100%;
  background-color: #262633;
  padding-bottom: 30px;
  padding-left: 15px;
  filter: drop-shadow(5px 5px 01px #33334884);
}

.content {
  padding-top: 14%;
  padding-left: 10%;
  max-width: 80%;
  max-height: 80%;
  position: relative;
  right: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#soup,
#field,
#window,
#boat {
  width: 577px;
  height: 294px;
  object-fit: cover;
  position:relative;
  margin-top: 76px;
  padding-left: 100px;
  filter: drop-shadow();
}

.button-wrap {
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  padding: 0px;
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.button {
  background-color: #8b8b8b00;
  font-style: bold;
  border:#1E1E2E;
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0.5px;
}

.button1{
  color: #e2c99d;
}

.button2{
  color: #edbaff;
}

.button3{
  color: #8cc87a;
}

.button4{
  color: #aaefff;
}

.button1.active {
  background-color: #d3feff00;
  color:#ae936d;
  font-size: large;
}

.button2.active {
  background-color: #edbaff00;
  color:#cf7ded;
  font-size: large;
}

.button3.active {
  background-color: #8cc87a00;
  color:#6fba6f;
  font-size: large;
}

.button4.active {
  background-color: #aaefff00;
  color:#51c0d9;
  font-size: large;
}

.button:hover {
  background-color:#19192700;
  font-size: larger;
}

div[class*="content-"]:not(.active) { 
  display:none;
}

.content > div.active { 
  display:block;
}

#cat {
  bottom: 0;
  right: 0;
  width: 10%;
  text-align: right;
  padding: 0px;
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 24px;
  font-size: 16px;
}

.head2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 24px;
  font-size: 16px;
  padding-top: 60px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.search-form {
  width: 20rem;
  outline: none;
  border: none;
  background-color: #262633;
  color: #c9c9c9;
  font-size: 14px;
  padding-top: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.title {
  font-size: 16px;
  padding-bottom: 7.5px;
  color: #8ad1cf;

}

li {
  font-size:14px;
  list-style-type: none;
  padding: 5px;
}

a:link {
  text-decoration: none;
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
  font-weight: 2900;
}


@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
